body {
	background: #ffffff;
	margin: 0px;
	padding: 0px;
}
body, div {
	font-family: verdana, tahoma, arial, helvetica;
	font-size: 11px;
	color: #000000;
}
a, a:link, a:visited {
	color: #3762bc;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
iframe, textarea {
	height: 200px;
	width: 760px;
}
form {
	display: inline;
}
.Head {
	padding: 12px;
	background: #E5EAF6;
	border-bottom: 1px solid #C7D3EA;
	color: #A3AFCD;
	padding-right: 8px;
	text-align: right;
}
.Head a, .Head a:link, .Head a:visited {
	color: #A3AFCD;
	text-decoration: underline;
}
.Head a:hover {
	color: #000;
	text-decoration: none;
}
h1 {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 8px;
	left: 10px;
	font-size: 16px;
	font-weight: bold;
	font-family: trebuchet ms, arial, tahoma, verdana;
	color: #000;
}
.NavMenu {
	margin: 0px;
	padding: 10px;
	display: block;
	font-weight: bold;
	list-style: none;
}
.MainMenu {
	padding-top: 8px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background: url(_corner_br.gif) bottom right no-repeat;
	float: left;
}
.SubMenu {
	padding-top: 10px;
	padding-bottom: 8px;
	margin-top: 20px;
	background: url(_corner_tl.gif) top left no-repeat;
	float: right;
}
.NavMenu li {
	display: inline;
	margin: 0px;
	padding: 4px;
	color: #C7D3EA;
}
.NavMenu li a, .NavMenu li a:link, .NavMenu li a:visited {
	color: #062971;
	text-decoration: none;
}
.NavMenu li a:hover {
	color: #021437;
	text-decoration: none;
}
.NavPreviousItem,
.NavNextItem {
	font-family: trebuchet ms;
	font-size: 14px;
	font-weight: bold;
}
.NavNextItemGroup, .NavPreviousItemGroup, .NavFirstItem, .NavLastItem {
	font-family: Courier New, tahoma, arial, helvetica;
	font-weight: bold;
	font-size: 14px;
}
.DisplayContainer {
	clear: left;
}
.Introduction {
	border: 1px solid #F1E9DD;	
	background: #FEFCF9;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 160%;
}
.Introduction a, .Introduction a:link, .Introduction a:visited {
	text-decoration: underline;
	color: orange;
}
.Introduction a:hover {
	text-decoration: underline;
	color: #000;
}
.DisplayItem {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.DisplayItem h2 {
	margin: 0px;
	padding: 0px;
	font-family: trebuchet ms, arial, tahoma, verdana, helvetica;
	font-size: 16px;
	font-weight: bold;
	color: #062971;
	padding-bottom: 4px;
}
.Options {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-weight: normal;
	margin-bottom: 10px;
	padding-left: 10px;
}
.Options li {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	display: inline;
}
.Options li a, .Options li a:link, .Options li a:visited  {
	color: orange;
	text-decoration: underline;
}
.Options li a:hover {
	color: #71061E;
}
.DisplayItemUrlControl {
	padding-bottom: 10px;
}
.DisplayItem {	
	padding: 10px;
}
.DisplayItemImage, .DisplayItemIFrame, .DisplayItemTextArea, .DisplayItemFlash, .DisplayItemEmbed, .DisplayItemBlank {
	margin-top: 14px;
	clear: left;
}
.Notice {
	color: #062971;
	font-size: 10px;
	font-family: Trebuchet MS, tahoma, arial, tahoma, verdana;
	margin-bottom: 6px;
}
.Notice a, .Notice a:link, .Notice a:visited {
	color: #A3AFCD;
}
.Notice a:hover {
	color: #062971;
}
.Save {
	padding-left: 0px;
}
.Copy, .CopyImg, .View {
	padding-left: 10px;
}
.ListContainer {
	border-top: 1px solid #C7D3EA;	
	border-bottom: 1px solid #C7D3EA;	
	background: #f5f9ff;
	float: left;
	width: 100%;
	margin-bottom: 0px;
}
.ListEmpty {
	padding: 20px;
	color: #062971;
}
.ListContainer h2 {
	margin: 8px;
	padding: 0px;
	clear: left;
	font-family: trebuchet ms, arial, tahoma, verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #C7D3EA;
	padding-bottom: 4px;
	margin-top: 12px;
	margin-bottom: 6px;
}
.List {
	margin: 0px;
	padding: 8px;
	padding-top: 0px;
	float: left;
	list-style: none;
}
.List ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.ListItem {
	width: 200px;
	margin-bottom: 6px;	
	float: left;
}
.Thumbed {
	width: 140px;
	float: left;
}
.ItemThumb {
	width: 140px;
	height: 100px;
}
.NoPreview {
	font-family: Trebuchet MS, arial, verdana;
	font-size: 10px;
}
.ItemThumb a {
	display: block;
	height: 100px;
	width: 100px;
	border: 1px solid #C7D3EA;
	margin-left: 20px;
	text-align: center;
	overflow: hidden;
}
.NoPreview a {
	line-height: 100px;
	color: #A7B3CA;
}
.ItemThumb a img {
	display: none;
}
.ItemName {
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
	color: #062971;
	font-family: Trebuchet MS, Tahoma, Verdana;
	font-size: 11px;
	float: left;
}
.ItemName a {
	display: block;
	white-space: nowrap;
}
.ItemName a, .ItemName a:link, .ItemName a:visited, .ItemName a:hover {
	font-weight: normal;
}
.ItemSize {
	text-indent: 10px;
	color: #a7b3cA;
	width: 55px;
	overflow: hidden;
	float: left;
	font-size: 10px;
	font-family: Trebuchet MS, arial, tahoma, verdana;
}
.ItemDateModified,
.Thumbed .ItemSize {
	display: none;
}
.Thumbed .ItemName {
	margin-top: 4px;
	margin-bottom: 14px;
	text-align: center;
}
.ListItem .ItemName {
	margin-bottom: 16px;
	font-family: Trebuchet MS, Arial, Tahoma, Verdana;
	font-size: 11px;
}
.Folders li {
	float: left;
	width: 195px;
	margin-bottom: 6px;
	text-indent: 2px;
	overflow: hidden;
	color: #062971;
	font-family: arial, Trebuchet MS, Arial, Tahoma, Verdana;
	font-size: 11px;
}
.Foot {
	padding: 10px;
	clear: both;
}
.Foot div {	color: #7E9ACE; }
.Foot a, .Foot a:link, .Foot a:visited { color: #7E9ACE; }
.Foot a:hover { color: #062971; }
.ApplicationInformation { padding-bottom: 6px; }
.Pager {
	width: 90px;
	float: right;
}
.PagerLabel {
	float: left;
	padding-top: 1px;
}
.PagerValue {}
.PagerInput {
	text-align: center;
	border: 0px;
	background: #E5EAF6;
	font-size: 10px;
	color: #A3AFCD;
	width: 22px;
}

/* Browserclaw v1 edit */
.Folders li img { position: relative; top: 3px; }
.NavMenu li a:hover, .NavMenu li a:active {
	color: #cc0000;
	font-size: 1.85em;
	text-decoration: none;
}
@media screen and (max-width: 750px) { 
    .Folders li { font-size: 1.15em !important; line-height: 3em !important; }
    iframe, textarea { width: 90% !important; }
    .Notice { margin-bottom: 12px !important; font-size: 1.15em; }
    .Head { padding: 12px; }
    h1 { margin-top: 0.85em !important; }
    .BelowOnMobile { clear: both; display: table; margin-top: 32px; }
    a:hover, a:active { font-size: 1.85em; }
}

.readingcontent{
    font-size: 1.55em;
    font-family: Cambria, Georgia;
    letter-spacing: 0.02em;
    line-height: 24px;
}
